.heading{
    text-align: center;
    margin-bottom: 2%;
}

#get_updated_heading{
    font-weight: bold;
}

a{
    /* text-decoration: none; */
}

#about_me_nav, #get_updated_nav{
    color: rgb(49, 130, 196);
    font-weight: bold;
}